<div class="container">
  <h1>Update teamu</h1>
  <div class="d-flex justify-content-end" id="button-container">
    <a href="/teams-panel">
      <button type="button" class="btn btn-success">Wróc do listy</button>
    </a>
  </div>
  <form action="/teams-panel/update?id=<%= team.id %>" method="post">
    <div class="form-group">
      <label for="name">Nick: </label>
      <input value="<%= team.name %>" type="text" class="form-control" name="name" id="name">
    </div>
    <div class="form-group">
      <button id="submit" class="btn btn-primary" type="submit">Zapisz</button>
    </div>
  </form>
</div>
<script src="/js/teams-panel/validateForm.js"></script>
