.container-fluid {
  background-color: black;
  min-height: 100vh;
  background-size: cover;

  #particles-js{
    height: 100%;
    position: fixed;
    min-width: 100vw;
    transform: translateX(-50%);
    left: 50%;
  }
}
