header {
  background: #aa0000;
  width: 100%;
  padding: 0;
  z-index: 99;
  position: relative;

  a{
    padding: 1.5em;
    text-transform: uppercase;
    font-size: .8em;
    color: white;

    &:hover {
      background: #cc0202;
    }
  }

  .active {
    background: #cc0202;
  }
}
